<nav class="nav">
  <a href="/" class="brand">JobFinder</a>
  <div class="nav-links">
    <% if (user) { %>
      <% if (user.role === 'jobseeker') { %>
        <a href="/jobs">Jobs</a>
      <% } else { %>
        <a href="/jobs/my">My Jobs</a>
        <a href="/jobs/new">Post Job</a>
      <% } %>
      <a href="/interviews">Interviews</a>
      <a href="/profiles/edit">Profile</a>
      <form action="/logout" method="post" style="display:inline">
        <button type="submit" class="btn-link">Log out</button>
      </form>
    <% } else { %>
      <a href="/login">Log in</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</nav>
